body {
    height: 100vh;
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-weight: normal;
    font-size: 52px;
    background-color: #FFDBAE;
    
}


/* GENERAL */

.logo {
    aspect-ratio: 1;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}


.logo-link{
    text-decoration: none;
    color: inherit;
}

.logo .titre{
    font-family: "Bodoni MT";
    font-size: 8cqmin;
    bottom: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    /* background: rgba(255, 0, 0, 0.2); */
    transition: opacity 0.5s ease;  
}

.logo img {
    height: 75%;
    width: auto;
    object-fit: contain;
    /* background: rgba(89, 0, 255, 0.2); */
    transition: transform 0.5s ease;    
}


/* INDEX */

.window_index {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.window_index .logo {
    width: min(95vw, 95vh);
    transform: translateY(-5vh);
}



/* HOME */

.window_home {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 9fr 1fr;
    grid-template-areas: 
    "compagnie" "spectacles" "membres" "contact"
    "footer" "footer" "footer" "footer";
    justify-items: center;
    align-items: center;
}

.window_home .compagnie {
    grid-area: compagnie;
}

.window_home .spectacles {
    grid-area: spectacles;
}


.window_home .membres {
    grid-area: membres;
}


.window_home .contact {
    grid-area: contact;
}



/* HOVER & TOUCH */

@media (hover: hover){
    .logo:hover .bottom { transform: translate(70%, 16%); }
    .logo:hover .top { transform: translate(-70%, -16%); }
    .logo:hover .titre { opacity: 1; }
}

.logo.touched .bottom { transform: translate(70%, 16%); }
.logo.touched .top { transform: translate(-70%, -16%); }
.logo.touched .titre { opacity: 1; }
