body {
    height: 100vh;
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-weight: normal;
    font-size: 52px;
    background-color: #FFDBAE;
    
}

.window {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
    
}

.window .logo {
    width: min(95vw, 95vh);
    aspect-ratio: 1;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transform: translateY(-5vh);
    /* border: 2px solid red; */
    }

.logo-link{
    text-decoration: none;
    color: inherit;
}

.logo .titre{
    font-family: "Bodoni MT";
    font-size: 8vmin;
    bottom: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    /* background: rgba(255, 0, 0, 0.2); */
    transition: opacity 0.5s ease;  
}

.logo img {
    height: calc(0.75 * min(95vw, 95vh));
    aspect-ratio: 2/3;
    object-fit: cover;
    /* background: rgba(89, 0, 255, 0.2); */
    transition: transform 0.5s ease;    
}


.logo:hover .bottom {
    transform: translate(70%, 16%);
}

.logo:hover .top {
    transform: translate(-70%, -16%)
}

.logo:hover .titre {
    opacity: 1;
}

.logo-link{
    text-decoration: none;
    color: inherit;
}


