body {
    height: 100vh;
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-weight: normal;
    font-size: 52px;
    background-color: #FFDBAE;
}

#header {
    width: 50%;
    height: 1%;
}

.textbox {
    width: 75%;
    height: 50%;
    border: 2px solid red;
    padding-bottom: 20px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 25vw;
}

img:hover {
    background-color: blue;
}